<!DOCTYPE html>
<html>
<head>
    <link href="css/demo.css" rel="stylesheet">
    <script src="js/sum.js"></script>
</head>

<body>
<p id="calculatorTitle">Please input numbers to calculate.</p>
<input type="text" value="0" id="myInput1" oninput="myFunction()">
<p>+</p>
<input type="text" value="0" id="myInput2" oninput="myFunction()">
<p id="calculatorOutput"></p>
</body>
</html>