<!DOCTYPE html>
<html>
<body>
  <p>Welcome to Lucy first web.</p>
  <a href="/calculator">Go To Lucy Calculator</a>
  <a href="/calculatorlucy">Go To Lucy Calculatorlucy</a>
  <a href="/calculatorsimple">Go To Lucy Calculatorsimple</a>
  <a href="/icalculator">iCalculator</a>
</body>
</html>